NAMESPACE=keycloak
APPS_DOMAIN=apps.cluster-bnj5s.bnj5s.sandbox3237.opentlc.com
KEYCLOAK_HOST=keycloak.apps.cluster-bnj5s.bnj5s.sandbox3237.opentlc.com
KEYCLOAK_VERSION=26.7.0
POSTGRESQL_VERSION=15-el9
POSTGRESQL_STORAGE=5Gi
KEYCLOAK_NAMESPACE=keycloak
APPS_NAMESPACE=keycloak-poc-apps
PUBLIC_HOST=app-public.apps.cluster-bnj5s.bnj5s.sandbox3237.opentlc.com
PROTECTED_HOST=app-protected.apps.cluster-bnj5s.bnj5s.sandbox3237.opentlc.com

